body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  width: 100%;
  background: "#4D4ACF";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #4d4acf;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea:focus {
  outline: none;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}

/** custom **/
a {
  text-decoration: none;
  color: black;
}
.mylist {
  height: 90vh;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}
.mylist::-webkit-scrollbar {
  width: 0;
  height: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #4d4acf;
  height: 64px;
  padding: 24px 42px;
}

.navigation {
  display: flex;
  align-items: center;
}

#logo {
  color: #f30707;
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.navigation a {
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  justify-content: flex-end;
  align-content: center;
  margin-right: 20px;
}

.signin a {
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  justify-content: flex-end;
  align-content: center;
  margin-right: 20px;
}

.login {
  display: flex;
  align-items: center;
  background-color: white;
  border: 3px black solid;
  text-align: center;
  border-radius: 5px;
  box-sizing: border-box;
}

.logout {
  display: flex;
  align-items: center;
  background-color: black;
  text-align: center;
  border-radius: 5px;
  box-sizing: border-box;
}

.login a,
.logout a {
  display: flex;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 12px 40px;
  vertical-align: middle;
}

.login a {
  color: black;
}
.logout a {
  color: white;
}

.problem {
  display: flex;
  align-items: center;
  height: 86px;
  background: #c4c4c4;
  border-radius: 71px;
}

.quiz_level {
  background: #6fcf97;
  border-radius: 100px;
}

.quiz_url_desc {
  background: orange;
  border-radius: 100px;
}

.psinfo {
  width: 115px;
  height: 42px;
  margin-left: 22px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 160%;
  text-align: center;
}

.problemlist li {
  margin-bottom: 39px;
}
.problem a {
  font-size: 48px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
  margin-left: 96px;
  line-height: 140.62%;
}

.problem-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
  border-bottom: 3px white solid;
}

.problem-length {
  font-size: 48px;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 15px;
}

.pslist-link {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

.pslist-link a {
  text-decoration: none;
  color: #65cc35;
}

.rerandom {
  display: flex;
  align-items: center;
}

.rerandom span {
  font-size: 32px;
  font-weight: bold;
  color: #bdbdbd;
}

.rerandom .randombtn {
  width: 53px;
  height: 37px;
}

.rerandom .active {
  color: white;
}

/* My Problem list*/
.mylist {
  font-family: "Roboto", sans-serif;
  background-color: #e0e0e0;
  border-radius: 17px;
  width: 80%;
  margin: 28px auto 0;
}

.mylist > div {
  padding: 46px 64px 46px;
}

.mylist__header {
  box-sizing: border-box;
  padding: 12px 12px 24px;
  border-bottom: 2px black solid;
  margin-bottom: 28px;
}

.mylist_info {
  display: flex;
  justify-content: space-between;
  padding: 0 24px 32px;
}

.mylist_info h1 {
  font-size: 53px;
  font-weight: bold;
}

.mylist_info div {
  font-size: 24px;
  font-weight: bold;
  align-self: flex-end;
}

.mylist__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-size: 32px;
  line-height: 45px;
  font-weight: bold;
  background-color: white;
  padding: 12px 24px;
  height: 71px;
  border-radius: 15px;
}

.mylist__nav li {
  padding: 0 72px;
  cursor: pointer;
  color: #e0e0e0;
}

.mylist__nav .active {
  color: black;
}

.mylist_chartlink {
  display: flex;
}

.mylist_chartlink a {
  align-self: flex-end;
  padding-bottom: 4px;
  font-weight: bold;
}

.unsolved__nav {
  font-size: 32px;
  line-height: 45px;
  font-weight: bold;
  background-color: transparent;
  border-top: none;
  border-width: 0px 0px 1px;
  padding: 12px 24px;
  margin-bottom: 24px;
}

.unsolved {
}
